@model MVCDemo.Models.Users

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Employee", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.LabelFor(a =>a.Username)
            </td>
            <td>
                @Html.TextBoxFor(a =>a.Username)
            </td>
            <td>
                @Html.ValidationMessageFor(a =>a.Username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password)
            </td>
            <td>
                <div class="password">
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                    <input type="password" Name="Password" placeholder="Password" required="*">
                </div>
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Password)
            </td>
        </tr>
        <td></td>
        <td>
            <input type="submit" value="Login"/>
        </td>
        <td></td>
    </table>


}

